<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Catalogr.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D6FDE971841CEB673E347A137A071F1A4C67AADC</string>
				<key>dateExpires</key>
				<string>5/2/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D6FDE971841CEB673E347A137A071F1A4C67AADC</string>
						<key>dateExpires</key>
						<string>5/2/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BarcodeScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z56Y5TUHBT</string>
						<key>name</key>
						<string>James Feigel</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Z56Y5TUHBT.com.jfeigel.BookCatalogr</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.jfeigel.BookCatalogr</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>Z56Y5TUHBT</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Catalogr.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9543bd5c-c2f2-4b55-b40f-9923e4bbd283</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.jfeigel.BookCatalogr</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Z56Y5TUHBT</string>
				<key>name</key>
				<string>James Feigel</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
