<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>iCloudContainerEnvironment</key>
	<string>Production</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://github.com/jfeigel/Catalogr/blob/builds/Catalogr.ipa</string>
		<key>displayImageURL</key>
		<string>https://github.com/jfeigel/Catalogr/blob/builds/display_image.png</string>
		<key>fullSizeImageURL</key>
		<string>https://github.com/jfeigel/Catalogr/blob/builds/full_display_image.png</string>
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>Z56Y5TUHBT</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
